<h2>Welcome!</h2>

@if (!User.Identity.IsAuthenticated)
{
    <p>Please <a asp-controller="Account" asp-action="Login">log in</a>.</p>
}
else
{
    <p>You are logged in as <b>@User.Identity.Name</b>.</p>

    <p>
        <a asp-controller="Account" asp-action="Logout">
            Logout
        </a>
    </p>

    @if (User.IsInRole("Admin"))
    {
        <h3>Admin Panel</h3>
        <p>Only visible to Admins.</p>
        <a asp-controller="AddNewTree" asp-action="Create" class="btn btn-success"
           style="background-color: #14ae64; box-shadow: none;">
            اضافه شجرة
        </a>

        <a asp-controller="AddNewLocation" asp-action="Create" class="btn btn-success"
           style="background-color: #14ae64;   box-shadow: none;">
            اضافه عنوان
        </a>

        <a asp-controller="Search" asp-action="GetStatistics" class="btn btn-success"
           style="background-color: #14ae64;  box-shadow: none;">
            بحث
        </a>

        <a asp-controller="Register" asp-action="Register" class="btn btn-success"
           style="background-color: #14ae64;   box-shadow: none;">
            اضافة مستخدم
        </a>

        <a asp-controller="Users" asp-action="ShowUsers" class="btn btn-success"
           style="background-color: #14ae64; ; box-shadow: none;">
            اظهار جميع المستخدمين
        </a>
        <a asp-controller="AddTreeType" asp-action="Create" class="btn btn-success"
           style="background-color: #14ae64; ; box-shadow: none;">
            اضافة نوع شجرة جديد
        </a>
        <a asp-controller="AddLocationType" asp-action="Create" class="btn btn-success"
           style="background-color: #14ae64; ; box-shadow: none;">
            اضافة نوع عنوان جديد
        </a>
        <a asp-controller="ShowData" asp-action="AllTrees" class="btn btn-success"
           style="background-color: #14ae64; ; box-shadow: none;">
            اظهار جميع الاشجار
        </a>
        <a asp-controller="ShowData" asp-action="AllLocations" class="btn btn-success"
           style="background-color: #14ae64; ; box-shadow: none;">
            اظهار جميع العناوين
        </a>

    }
    else if (User.IsInRole("User"))
    {
        <h3>User Dashboard</h3>
        <a asp-controller="AddPlant" asp-action="Create" class="btn btn-success" style="background-color: #14ae64">اضافة زراعة</a>
        
    }
    else if(User.IsInRole(nameof(Roles.Viewer)))
    {
        <h3>Viewer Dashboard</h3>
        <a asp-controller="Search" asp-action="GetStatistics" class="btn btn-success"
           style="background-color: #14ae64;  box-shadow: none;">
            بحث
        </a>
    }
}